body {
  font-family: "Arial", sans-serif;
  background-color: #0d1117;
  margin: 0;
  padding: 0;
  color: #c9d1d9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #161b22;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 123, 255, 0.1);
}

h1 {
  text-align: center;
  color: #58a6ff;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: #c9d1d9;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #30363d;
  border-radius: 5px;
  background-color: #0d1117;
  color: #c9d1d9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #30363d;
}

th,
td {
  padding: 12px;
  text-align: center;
  color: #dcdcdc;
}

thead {
  background-color: #1f6feb;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #161b22;
}

tr:hover {
  background-color: #21262d;
}

.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  table,
  th,
  td {
    font-size: 14px;
  }

  .chart-container {
    height: 300px;
  }
}
